// ----------------------------------------------------------------------------
// Widget-stgarage styles
// ----------------------------------------------------------------------------
.widget-stgarage {

  .icon-open {
  	color: #ff00aa;
  }
  .icon-opening {
  	color: #ffff00;
  }
  .icon-closing {
  	color: #ffff00;
  }

  .icon-closed {
  	color: #888888;
  }

}