// ----------------------------------------------------------------------------
// Widget-stgarage styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stgarage {

  background-color: $background-color-action !important;

  .icon-open {
  	color: #ff00aa;
  }
  .icon-opening {
  	color: #ffff00;
  }
  .icon-closing {
  	color: #ffff00;
  }

  .icon-closed {
  	color: #888888;
  }

}